body {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

#background {
  background-image: url(image1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-bottom: 25px solid black;
}

header {
  background-image: url(image7.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5;
  z-index: 2; */
}

h1 {
  font-size: 10em;
  text-align: center;
  position: relative;
  margin: auto;
  color: black;
}

h2 {
  font-size: 5em;
  text-align: center;
  position: relative;
  margin: auto;
  color: white;
  -webkit-text-stroke: 2px black;
}

p {
  text-align: center;
  margin: 0%;
  transform: translate(0%, -100%);
  color: black;
}

#navg {
  height: 35px;
  text-align: center;
  color: black;
  background-color: #e6e6e6;
  padding: 10px;
  position: relative;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  font-size: 20px;
  font-family: "Lucida Console", Courier, monospace;
}

.nav_links {
  padding-right: 10px;
}

footer {
  text-align: center;
  color: black;
  background-color: white;
  padding-top: 30px;
  position: relative;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

#instagram {
  height: 30px;
}

#twitter {
  height: 30px;
}

#git {
  height: 30px;
}

h1 a:link {
  color: white;
  -webkit-text-stroke: 4px black;
}

h1 a:visited {
  color: white;
  -webkit-text-stroke: 4px black;
}

h1 a:hover {
  color: grey;
}